<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

* {
  box-sizing: border-box;
}

.menu {
  float:left;
  width:20%;
  text-align:center;
}

.menu a {
  background-color:#4d4d00;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:orange;
}

.main {
  float:left;
  width:60%;
  padding:0 20px;
}

.right {
  float:left;
  width:20px;
  padding:8px;

</style>
</head>

<body style="font-family:Serif;color#aaaaaa;">

<div style="background-color:#2d2d00;padding:15px;text-align:center;">
  <h1>Motors Galore!</h1>

<div style="text-align:center;">
  <div class="menu">
    <a href="https://www.Lafayette-Parish.org">The Parish</a>
    <a href="https://www.hackster.io/silver2row">Hackster.io</a>
    <a href="https://github.com/silver2row/motocape">The Cape</a>
  </div>
 
  <div class="main">
    <h2>
      <a href="/F" id="on" class="button">FORWARD</a>
      <br><br>
      <a href="/L" id="on" class="button">LEFT</a>
      <a href="/R" id="on" class="button">RIGHT</a>
      <br><br>
      <a href="/S" id="on" class="button">STOP</a>
      <br><br>
      <a href="/REV" id="on" class="button">REVERSE</a>
      <br><br>
      <a href="/REV_L" id="on" class="button">REV_L</a>
      <a href="/REV_R" id="on" class="button">REV_R</a>
    </h2>
  </div>           
</div>

<div style="text-align:center;">
  <class="right">
    <h2>&copy Seth 2018</h2>
</div>

</body>
</html>
