<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>MotorCape and BBBW!</h1>
  <p>This is a quick example on making motors move!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p></p>
      <p></p>
    </div>

    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>This bunch of online buttons will make your motors move</p>
      <!--  <img src=" http://0.0.0.0/?" "action=stream" alt="Unable to get video feed" width="300" height="300"> -->
      <a href="/F" id="on" class="button">FORWARD</a>
      <br><br>
      <a href="/L" id="on" class="button">LEFT</a>
      <a href="/R" id="on" class="button">RIGHT</a>
      <br><br>
      <a href="/S" id="on" class="button">STOP</a>
      <br><br>
      <a href="/REV" id="on" class="button">REVERSE</a>
      <br><br>
      <a href="/REV_L" id="on" class="button">REVERSE_L</a>
      <a href="/REV_R" id="on" class="button">REVERSE_R</a>
    </div>

    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p></p>
      <p></p>
    </div>
  </div>
</div>

</body>
</html>

